*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dateTitle{
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  margin-top: 3rem;
  letter-spacing: 0.5px;
  padding-bottom: 7.5px;
  /* font-weight: 300;
  font-size: 5em; */
}

.dateSubtitle{
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 2rem;
  border-bottom: 1px dashed gray;
  letter-spacing: 0.5px;
}

.rating-container{
  width: 80%;
  /* width: 60vh;
  height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
}

.rating-box{
  width: 100%;
  /* height: 30%; */
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  margin-bottom: 1rem;
}

.buttom-select-menu{
  display: flex;
  flex-direction: column;
}

.option{
  width: 6rem;
  padding: 0.5rem 1.2rem;
  margin: 0.3rem;
  text-decoration:none;
  font-family: 'Inter';
  border: 0.8px solid gray;
  background-color: white;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.option:focus{
  outline: none;
}

.option:hover{
  transition: all 0.5s;
  transform: translateY(-2px);
}

.rating-text-enter {
  opacity: 0;
}
.rating-text-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.rating-text-exit {
  opacity: 1;
}
.rating-text-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.rating-text-exit-done {
  opacity: 0;
}

.fade-out{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.fade-in{
  visibility: visible;
  opacity: 1;
  transition: visibility 1s 0.4s, opacity 0.4s linear;
}

.notebox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notetext{
  outline: 0px none transparent;
  width: 400px;
  height: 305px;
  resize: none;
}

.notesubmit{
  width: 5rem;
  padding: 0.3rem 0.7rem;
  margin: 0.3rem;
  text-decoration: none;
  font-family: 'Inter';
  border: 0.8px solid gray;
  background-color: white;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.notesubmit:hover{
  background-color: #1183ca;
  border-color: #1183ca;
  color: white;
  font-weight: bold;
}

.notesubmit:focus{
  outline-color: #1183ca; 
}

.inner-rating-container{
  width: auto;
  height: 300px;
}

.calendar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CALENDAR STYLES */

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: 'Inter';
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation__label:disabled{
  color: black;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: white;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 0.8em;
}

abbr{
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  padding-bottom: 0.4em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
/* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
} */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: white;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  color: black;
}
/* .react-calendar__tile--now {
  background: #ffff76;
  background: brown;
} */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-calendar__navigation__prev2-button{
  display: none;
}

.react-calendar__navigation__next2-button{
  display: none;
}

.rating{
  color: white;
}

.amazing{
  background: #006d05;  
}

.amazing:enabled:hover,
.amazing:enabled:focus{
  background: #007e06;
}

.great{
  background: #3d8532;
}

.great:enabled:hover,
.great:enabled:focus{
  background: #008f07;
}

.good{
  background: #88b77b;
}

.good:enabled:hover,
.good:enabled:focus{
  background: #92bd86;
}

.okay{
  background: #E5D50F;
}

.okay:enabled:hover,
.okay:enabled:focus{
  background: #f1e225;
}

.bad{
  background: #D66C65;
}

.bad:enabled:hover,
.bad:enabled:focus{
  background: #da7972;
}

.awful{
  background: #A83030;
}

.awful:enabled:hover,
.awful:enabled:focus{
  background: #c23838;
}

.horrible{
  background: #7d0600;
}

.horrible:enabled:hover,
.horrible:enabled:focus{
  background: #9f0800;
}
